<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đây là trang HOME</h1>
    <p>Trang này hiển thị danh sách</p>
    <p>Các bạn có thể xem sản phẩm và mua hàng tại đây</p>
  </div>

  <!-- One search box in left and combox in right-->
  <div class="search-box">

    <input type="text" class="form-control search-input" placeholder="Tìm kiếm">

    <select class="form-control product-category">
      <option selected disabled>Danh mục sản phẩm</option>
      <option value="">Nike</option>
      <option value="">Addidas</option>
      <option value="">Local brands</option>
    </select>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/345415/pexels-photo-345415.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product image" class="product-image" />
        <h3 class="product-name">Nike Air 1</h3>
        <p class="product-description">Giày này là giày authentic đó cả nhà</p>
        <p class="product-warranty">Bảo hành 12TH</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/345415/pexels-photo-345415.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product image" class="product-image" />
        <h3 class="product-name">Nike Air 1</h3>
        <p class="product-description">Giày này là giày authentic đó cả nhà</p>
        <p class="product-warranty">Bảo hành 12TH</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/345415/pexels-photo-345415.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product image" class="product-image" />
        <h3 class="product-name">Nike Air 1</h3>
        <p class="product-description">Giày này là giày authentic đó cả nhà</p>
        <p class="product-warranty">Bảo hành 12TH</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/345415/pexels-photo-345415.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product image" class="product-image" />
        <h3 class="product-name">Nike Air 1</h3>
        <p class="product-description">Giày này là giày authentic đó cả nhà</p>
        <p class="product-warranty">Bảo hành 12TH</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/345415/pexels-photo-345415.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product image" class="product-image" />
        <h3 class="product-name">Nike Air 1</h3>
        <p class="product-description">Giày này là giày authentic đó cả nhà</p>
        <p class="product-warranty">Bảo hành 12TH</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>