.intro-section{
  color: white;
  padding: 20px;
  text-align: center;
}

.product-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnail-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.thumbnail-image{
  width: 120px;
  height: 120px;
  margin-right: 5px;
}

.thumbnail-image:last-child{
  margin-right: 0;
}

.thumbnail-item img{
  object-fit: cover;
}

.thumbnail-item.active{
  border: 2px solid white;
}

.product-details{
  color: white;
  padding: 20px;
}

.product-actions{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.product-actions button{
  margin-right: 10px;
}

.product-quantity{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: 1rem;
}

.border-wrapper{
  border: 1px solid white;
  border-radius: 5px;
}

.product-quantity button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.product-quantity input{
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  text-align: center;
  width: 40px;
  margin: 0 10px;
}

.product-quantity input:focus{
  outline: none;
}